*.*~
*.o
*.dSYM
*.csv
*.out
#*.png
mnist/
#data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
/output/*
/uploads/*
!/output/README.md
!/uploads/README.md

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
